@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;500&display=swap");
html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  height: 400vh;
}

body a {
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.container {
  margin: 0 5vw;
}

@media (min-width: 768px) {
  .container {
    margin: 0 10vw;
  }
}

.cta {
  color: #fff;
  background: #fe4e00;
  padding: 10px 20px;
  border-radius: 10px;
}

nav .wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 90%;
  z-index: 100000000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo {
  color: #e9190f;
  padding: 1rem 0;
  font-family: "Fredoka One", cursive;
  font-size: 30px;
}

nav .nav-links {
  position: fixed;
  top: 0;
  left: 0;
  background: #e9190f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

nav .nav-links a {
  color: #fff;
}

nav .nav-mobile {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

nav .toggle-btn {
  z-index: 1000000000000;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .toggle-btn #btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

nav .closed {
  height: 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav .active {
  height: 36px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 768px) {
  nav .wrapper {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-links {
    position: relative;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    flex-direction: row;
    width: 20vw;
  }
  nav .nav-links a {
    color: #000;
    opacity: 0.7;
  }
  nav .nav-links a:hover {
    opacity: 1;
  }
  nav .toggle-btn {
    display: none;
  }
}

.hero-section .wrapper {
  min-height: 100vh;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .wrapper .text-section .heading {
  font-size: 2rem;
  color: #1e1d1d;
  margin-bottom: 1rem;
}

.hero-section .wrapper .text-section .text {
  margin-bottom: 1rem;
}

.hero-section .wrapper .img-section {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .wrapper .img-section img {
  width: 270px;
}

@media (min-width: 768px) {
  .hero-section .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-section .wrapper .img-section img {
    width: 320px;
  }
}

@media (min-width: 1024px) {
  .hero-section .wrapper .img-section img {
    width: 400px;
  }
}

@media (min-width: 1440px) {
  .hero-section .wrapper .img-section img {
    width: 500px;
  }
}

.menu-section {
  min-height: 100vh;
  margin-bottom: 1rem;
}

.menu-section .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.menu-section .wrapper .title {
  padding-top: 15vh;
}

.menu-section .wrapper .image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-section .wrapper .image-gallery .img {
  width: auto;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5rem;
}

.menu-section .wrapper .image-gallery .img p {
  opacity: 0;
  color: #fff;
}

.menu-section .wrapper .image-gallery .img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu-section .wrapper .image-gallery .img:hover p {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.menu-section .wrapper .image-gallery #img-1 {
  background-image: url(/images/1.png);
}

.menu-section .wrapper .image-gallery #img-2 {
  background-image: url(/images/2.png);
}

.menu-section .wrapper .image-gallery #img-3 {
  background-image: url(/images/3.png);
}

.menu-section .wrapper .image-gallery #img-4 {
  background-image: url(/images/4.png);
}

.menu-section .wrapper .image-gallery #img-5 {
  background-image: url(/images/4.png);
}

@media (min-width: 768px) {
  .menu-section .wrapper .image-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-section .wrapper .image-gallery .img {
    width: 300px;
  }
}

.about-section .wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  padding-top: 30vh;
  margin-bottom: 15vh;
}

@media (min-width: 1024px) {
  .about-section .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .about-section .wrapper .img-section {
    width: 500px;
    height: 500px;
    background-image: url(/images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.contact-section {
  width: 100%;
  padding: 15vh 0;
}

.contact-section .wrapper form label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-section .wrapper form input {
  background: #c4c4c4;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}

.contact-section .wrapper form button {
  border: none;
  padding: none;
  text-transform: uppercase;
  font-size: 18px;
}

@media (min-width: 768px) {
  .contact-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  background: #1e1d1d;
  width: 100%;
  color: #fff;
}

footer .note {
  padding: 0.5rem 0;
  font-weight: 400;
}

footer .contact-links-icons {
  padding: 1.5rem 0;
}

footer .credit {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .credit p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */