// fonts
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;500&display=swap");

// variables
$background-page: #f7f7f7;
$logo-color: #e9190f;
$heading: #1e1d1d;
$footer-background: #1e1d1d;
$cta: #fe4e00;
$headerfont-size: 30px;
$headingfont-size: 48px;
$font-logo: "Fredoka One", cursive;
$font-body: "Poppins", sans-serif;

html {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: $background-page;
    font-family: $font-body;
    overflow-x: hidden;

    height: 400vh;
    a {
        text-decoration: none;
    }
}
.title {
    font-size: 48px;
    font-weight: 500;
}

.container {
    margin: 0 5vw;
    @media (min-width: 768px) {
        margin: 0 10vw;
    }
}

// nav

nav {
    .wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 90%;
        z-index: 100000000000;
        display: flex;

        align-items: center;
        justify-content: center;
    }
    .logo {
        color: $logo-color;
        padding: 1rem 0;
        font-family: $font-logo;
        font-size: 30px;
    }
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        background: $logo-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        height: 100vh;
        width: 100vw;
        transform: translateX(300%);
        transition: transform 0.5s ease;
        a {
            color: #fff;
        }
    }
    .nav-mobile {
        opacity: 1;
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }
    .toggle-btn {
        z-index: 1000000000000;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        #btn {
            position: absolute;
            opacity: 0;

            cursor: pointer;
        }
    }
    .closed {
        height: 30px;
        transition: 0.5s ease;
    }
    .active {
        height: 36px;
        transition: 0.5s ease;
    }
    @media (min-width: 768px) {
        .wrapper {
            width: 80%;
            justify-content: space-between;
        }
        .nav-links {
            position: relative;
            opacity: 1;

            background: transparent;
            transform: translateX(0%);
            height: auto;
            flex-direction: row;
            width: auto;
            a {
                padding: 0 1rem;
                color: #000;
            }
            a:last-of-type {
                padding: 0;
            }
        }
        .toggle-btn {
            display: none;
        }
    }
}

// hero-section
.hero-section {
    .wrapper {
        min-height: 100vh;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        .text-section {
            .heading {
                font-size: 2rem;
                color: $heading;
                margin-bottom: 1rem;
            }
            .text {
                margin-bottom: 1rem;
            }
            .cta {
                color: #fff;
                background: $cta;
                padding: 10px 20px;
                border-radius: 10px;
            }
        }
        .img-section {
            padding-top: 10vh;
            display: flex;
            justify-content: center;

            img {
                width: 270px;
            }
        }
        @media (min-width: 768px) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            .img-section {
                img {
                    width: 320px;
                }
            }
        }
        @media (min-width: 1024px) {
            .img-section {
                img {
                    width: 400px;
                }
            }
        }
        @media (min-width: 1440px) {
            .img-section {
                img {
                    width: 500px;
                }
            }
        }
    }
}
// .menu-section {
//     position: relative;

//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;

//     .image-gallery {
//         display: grid;
//         @media (min-width: 768px) and (max-width: 1439px) {
//             grid-template-columns: repeat(2, 1fr);
//         }
//         @media (min-width: 1440px) and (max-width: 1800px) {
//             grid-template-columns: repeat(3, 1fr);
//         }
//         .img {
//             width: 320px;
//             height: 250px;
//             background-size: cover;
//             background-repeat: no-repeat;
//         }
//         #img-1 {
//             background-image: url(/images/1.png);
//         }
//         #img-2 {
//             background-image: url(/images/2.png);
//         }
//         #img-3 {
//             background-image: url(/images/3.png);
//         }
//         #img-4 {
//             background-image: url(/images/4.png);
//         }
//     }
// }
// .contact-section {
//     width: 100%;
//     form {
//         label {
//             display: block;
//         }
//     }
// }

// footer {
//     background: #1e1d1d;
//     width: 100%;
//     .contact-links-icons {
//         padding: 1.5rem 0;
//     }
//     .credit {
//         padding: 1rem;
//         display: flex;
//         justify-content: center;
//         img {
//             margin-right: 0.5rem;
//         }
//         p {
//             color: #fff;
//         }
//     }
// }
